/*body style*/
body {
    background: blanchedalmond;

}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: black;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.nav{
    color: white;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    overflow: hidden;
    width: 100%;
}
.nav ul{


    list-style: none;
    margin-top: 2%;
    margin-right: 13px;

    font-size: 1em;
    font-weight: bold;


}
.nav li{

    display: inline;
    margin-right: 30px;
    padding: 15px;
}
